/* 
:root {
--color:#2da940;
--background-color:#000;

}

button {
  color: var(--color);
  
  background-color: var(--background-color);
  padding: 10px 64px;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor:pointer;
}  

button:hover {
  cursor: pointer;
} */

